<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
        <link rel="stylesheet" type="text/css" href="../../../../css/index.css">
    </head>
    <body>
        <main>
            <% include ../../partials/pageHeader %>
            <section class="Column Column--horizontal-center">
                <h2 class="PageSubTitle">
                    <%= groupName %> - <%= cryptoCurrency %>
                </h2>
                <table class="Table">
                    <thead class="Table__head">
                        <tr class="Table__row">
                            <th class="Table__heading">
                                Participant name
                            </th>
                            <th class="Table__heading">
                                Bet
                            </th>
                            <th class="Table__heading">
                                Effort
                            </th>
                            <th class="Table__heading">
                                Amount of points
                            </th>
                            <th class="Table__heading">
                                Hypothetical gain/loss
                            </th>
                        </tr>
                    </thead>
                    <tbody class="Table__body">
                        <% groupParticipants.forEach(participant => { %>
                            <tr class="Table__row" data-participant-id="<%= participant.participant_id %>">
                                <td class="Table__cell">
                                    <%= participant.username %>
                                </td>
                                <td class="Table__cell TableCell--bet" data-participant-id="<%= participant.participant_id %>">
                                    <% if (participant.user_id === currentUserId) { %>
                                        <form
                                            action="groups/<%= groupId %>/change-bet/<%= participant.participant_id %>"
                                            class="Form"
                                            data-participant-id="<%= participant.participant_id %>"
                                        >
                                            <select name="myBet" class="Input Input--small Input--underline">
                                                <% if (participant.bet !== 'HIGH' && participant.bet !== 'LOW') { %>
                                                    <option value="" disabled selected>
                                                        Select
                                                    </option>
                                                <% } else { %>
                                                    <option value="" disabled>
                                                        Select
                                                    </option>
                                                <% } %>
                                                <% if (participant.bet === 'HIGH') { %>
                                                    <option value="HIGH" selected>
                                                        High
                                                    </option>
                                                <% } else { %>
                                                    <option value="HIGH">
                                                        High
                                                    </option>
                                                <% } %>
                                                <% if (participant.bet === 'LOW') { %>
                                                    <option value="LOW" selected>
                                                        Low
                                                    </option>
                                                <% } else { %>
                                                    <option value="LOW">
                                                        Low
                                                    </option>
                                                <% } %>
                                            </select>
                                        </form>
                                    <% } else { %>
                                        <%= participant.bet ? participant.bet === 'HIGH' ? 'High' : 'Low' : 'No bet placed yet' %>
                                    <% } %>
                                </td>
                                <td class="Table__cell TableCell--effort" data-participant-id="<%= participant.participant_id %>">
                                    <% if (participant.user_id === currentUserId) { %>
                                        <form
                                            action="groups/<%= groupId %>/change-effort/<%= participant.participant_id %>"
                                            class="Form"
                                            data-participant-id="<%= participant.participant_id %>"
                                        >
                                            <input
                                                type="number"
                                                min="1"
                                                max="50"
                                                name="effort"
                                                value="<%= participant.effort  %>"
                                                step="1"
                                                class="Input Input--small Input--underline"
                                                placeholder="€100"
                                            >
                                        </form>
                                    <% } else { %>
                                        <%= participant.effort > 0 ? `€${participant.effort}` : 'Effort has not been placed yet' %>
                                    <% } %>
                                </td>
                                <td class="Table__cell TableCell--score" data-participant-id="<%= participant.participant_id %>">
                                    <%= participant.score %>
                                </td>
                                <td class="Table__cell TableCell--hypothetical-gain" data-participant-id="<%= participant.participant_id %>">
                                    €<%= participant.hypothetical_gain %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </section>
        </main>
        <script src="../../../../scripts/groups/detail.js"></script>
        <% include ../../partials/errorScript %>
    </body>
</html>